* {
    padding: 0;
    margin: 0;
}
.contenedor-G {
    display: flex;
    flex-wrap: wrap;
}

.izquierdo {
    background-color: white;
    flex: 1;
    padding: 25px;
    min-width: 250px;
    /*width: 30vw;
    height: 100vw;
    padding: 4.5em;
    display: inline-block;*/
    
    
}
.foto{
    padding: 2em;
    padding-bottom: 4em;
   
    
}


.perfil {
    
    margin-top: 3em;
    margin-bottom: 6em;
}

p{
    font-family: sans-serif;
    font-size: 20px;
}
.azul:hover{
    background-color: #31A3BF ;
}

.derecho {
    flex: 2;
    padding: 25px;
    background-color: lightgray;
    text-align: center;
    /*display: inline-block;
    
    width: 70vw;
    height: 100vw;
    padding: 6em;
    */
   
}
h1 {
    padding-top: em;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
    
}
h3 {
    padding-top: 2em;
    
    
}

.contenedor-info-der {
    margin: 4em;
    text-align: left;
    font-family: sans-serif;
    font-size: 1.5em;
}

hr {
    height: 10px;
    width: 10em;
    background-color: black;
}
hr:hover {
    width: 15em;
    
}

.lista-derecho {
    margin-left: 1em;
}